<h1>  Welcome to {{model.name}}</h1>
<hr />

City Tile:  {{city-tile city=model destroyCity="destroyCity"}}

<hr />
{{#each model.rentals as |rental|}}
     {{#link-to 'rental' rental.id}}<li>{{rental.owner}}</li>{{/link-to}}
   {{/each}}

New Rental Tile: {{new-rental save2="save3" city=model}}

<!-- <button {{action 'destroyCity' model}}>Delete</button> -->
