{{outlet}}
We hope you find exactly what you're looking for in a place to stay.

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'announcement'}}Announcement{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}

<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental update = "update" destroyRental = "destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}


{{#each model.announcements as |announcement|}}
<li>{{announcement.announcement}}</li>
  {{/each}}

<form>
  <div class="form-group">
    <label for="announcement">New announcement:</label>
    {{input value=announcement id="announcement"}}
  </div>
  <button {{action 'saveAnnouncement'}}>Save it!</button>
</form>
